<div class="bg-light lter b-b wrapper-sm">
    <h1 class="m-n font-thin h5 my-rooms ">
        您当前所在的位置：
        <a ui-sref="app.articles.areaArticles" class="my-address">地区图片</a>
        &nbsp;<i class="fa fa-lg fa-angle-right"></i>&nbsp;
        <a ui-sref="app.articles.edit" class="my-address">修改文章</a>
    </h1>
</div>
<div class="wrapper-md" ng-controller="EditArticleCtrl">
    <div class="panel panel-default" style="padding: 10px 15px; text-align: center; >
        <form name="form">
            <div class="form-group text-center" >
                <label class="col-sm-4  no-padding-right text-right" style=" font-size: 18px; line-height: 35px; font-weight: bold;">标题 : </label>
                <div class="col-sm-5 no-padding-left" >
                    <input type="text" class="form-control" placeholder="请输入标题" ng-model="article.title" required>
                </div>
                <div style="clear: both;"></div>

            </div>

            <div style="clear: both;"></div>
            <div text-angular ng-model="article.content" required style="padding-bottom: 10px;"></div>
            <div class="text-center">
                <button class="btn btn-md btn-default" ng-click="clear()" >取消</button>
                <button class="btn btn-md btn-primary" ng-click="submit()" ng-disabled="form.$invalid">保存</button>
            </div>
        </form>

        <!--上传成功弹窗-->
        <div>
            <script type="text/ng-template" id="uploadEnd.html" >
                <div class="modal-header">
                    <h4 class="modal-title">
                        提示
                        <span class="pull-right my-cancel">
                                <i class="fa fa-times bigger-120 fa-lg" ng-click="cancel()"></i>
                            </span>
                    </h4>

                </div>
                <div class="modal-body">
                    <div class="my-modal-content">
                        <!--<i class="fa fa-info-circle fa-3x text-warning warning-icon"></i>-->
                        <i class="fa fa-smile-o fa-3x text-success" ng-if="flag === 1"></i>
                        <i class="fa fa-frown-o fa-3x text-warning" ng-if="flag === 2"></i>
                        &nbsp;&nbsp;{{message}}
                    </div>

                </div>
                <div class="modal-footer info-modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">确定</button>
                </div>
            </script>
        </div>
    </div>
</div>