<div class="bg-light lter b-b wrapper-sm">
    <h1 class="m-n font-thin h5 my-rooms ">
        您当前所在的位置：<a ui-sref="app.orders.cancelled" class="my-address">已取消订单信息列表</a>
    </h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default" style="position: relative; padding-top: 20px;">
        <div class="table-responsive" ng-controller="FetchOrderCancelledCtrl">
            <section>
                <div class="col-xs-8">
                    <div >
                        <label class="col-xs-2 control-label no-padding-right my-label no-padding-left text-right" >查询：</label>
                        <div class="col-xs-2 no-padding-left">
                            <input type="text" class="form-control" placeholder="请输入..." ng-model="$ctrl.query">
                        </div>
                        <label class="col-xs-2 control-label no-padding-right my-label no-padding-left text-right" >排序：</label>
                        <div class="col-xs-2 no-padding-left">
                            <select ng-model="orderProp" class="form-control">
                                <option value="id">订单编号</option>
                                <option value="room.price">价格</option>
                                <option value="createDate">创建时间</option>
                            </select>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </section>
            <form class="form-inline" style="padding-top: 15px;">
                <table class="table row-border hover table-striped dataTables_wrapper form-inline" style="width: 90%; margin: 0 auto;">
                    <thead>

                    <tr>
                        <!--<th class="text-center">-->
                        <!--<span >-->
                        <!--<input type="checkbox" class="my-checkbox" ng-model="master" ng-click="all(master,users)">-->
                        <!--</span>-->
                        <!--</th>-->
                        <th class="text-center">订单编号</th>
                        <th class="text-center">房间编号</th>
                        <th class="text-center">房间名</th>
                        <th class="text-center">房主</th>
                        <th class="text-center">房客</th>
                        <th class="text-center">价格</th>
                        <th class="text-center">创建时间</th>
                        <!--<th class="text-center">-->
                        <!--<div >-->
                        <!--<button class="btn btn-success btn-xs" ng-click="addUser('md')">-->
                        <!--<i class="fa fa-plus"></i>-->
                        <!--</button>-->
                        <!--</div>-->

                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in orders | filter: $ctrl.query | orderBy: orderProp">
                        <!--<td class="text-center">-->
                        <!--<span>-->
                        <!--<input type="checkbox" class="my-checkbox" name="selected" ng-model="x" ng-checked="master" ng-click="select(item.id,x)">-->
                        <!--</span>-->
                        <!--</td>-->
                        <td class="text-center">{{item.id}}</td>
                        <td class="text-center">{{item.room.id}}</td>
                        <td class="text-center">{{item.room.roomName}}</td>
                        <td class="text-center">{{item.user.userName}}</td>
                        <td class="text-center">{{item.creator}}</td>
                        <td class="text-center">￥{{item.room.price}}晚</td>
                        <td class="text-center">{{item.createDate}}</td>

                        <!--<td class="text-center">-->
                        <!--&lt;!&ndash;<button class="btn btn-xs" type="button" ng-click="viewUser(item.id)"><i class="fa fa-eye text-success fa-2x"></i></button>&ndash;&gt;-->
                        <!--<button class="btn btn-xs" type="button" ng-click="editUser(item.id)"><i class="fa fa-edit text-info fa-2x"></i></button>-->
                        <!--</td>-->
                    </tr>

                    </tbody>
                </table>
                <div class="text-center">
                    <div style="float: left; padding: 20px 0 0 36px;">共{{totalItems}}条数据</div>
                    <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                                previous-text="上一页" next-text="下一页" ng-change="getData()"></pagination>
                    <div style="clear: both;"></div>
                </div>
            </form>
        </div>
    </div>
</div>