<div class="bg-light lter b-b wrapper-sm">
    <h1 class="m-n font-thin h5 my-rooms ">
        您当前所在的位置：
        <a ui-sref="app.system.role" class="my-address">角色管理</a>
    </h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default" style="position: relative;">
        <div class="table-responsive" ng-controller="ManageRoleCtrl">
            <section>
                <select name="role" ng-init="userRoleTypeId = 3" ng-model="userRoleTypeId" ng-change="loadAdmins()" style="padding: 7px 5px; ">
                    <option value="3">超级管理员</option>
                    <option value="4">区域管理员</option>
                </select>
                <button  class="btn box-shadow my-button" style="position: relative; top: -3px;" ng-click="submit()">
                    <i class="fa fa-check"></i>
                    <a href >保存</a>
                </button>
                <span style="color: red;">{{error}}</span>
            </section>

            <form class="form-inline" style="padding-top: 10px;">
                <table class="table row-border hover table-striped dataTables_wrapper form-inline " style="width: 70%; margin: 0 auto;">
                    <thead>

                    <tr>
                        <th class="text-center">
                            <!--<span >-->
                                <!--<input type="checkbox" class="my-checkbox">-->
                            <!--</span>-->
                        </th>
                        <th class="text-center">用户名</th>
                        <th class="text-center">真实姓名</th>
                        <th class="text-center" ng-if="userRoleTypeId == 4">负责地区</th>
                        <th class="text-center" ng-if="userRoleTypeId == 4">修改地区</th>
                        <th class="text-center" ng-if="userRoleTypeId == 3">选择地区</th>
                        <!--<th class="text-center">-->
                        <!--<div >-->
                        <!--<button class="btn btn-success btn-xs" ng-click="addUser('md')">-->
                        <!--<i class="fa fa-plus"></i>-->
                        <!--</button>-->
                        <!--</div>-->

                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in admins">
                        <td class="text-center">
                            <span>
                                <input type="checkbox" class="my-checkbox" name="selected" ng-model="x" ng-click="updateSelection($event,item.id)">
                            </span>
                        </td>
                        <td class="text-center">{{item.userName}}</td>
                        <td class="text-center">{{item.realName}}</td>
                        <td class="text-center" ng-if="userRoleTypeId == 4">{{item.area.areaName}}</td>
                        <td class="text-center" ng-if="userRoleTypeId == 4">
                            <button class="btn btn-xs" type="button" ng-click="editArea(item.id)"><i class="fa fa-edit text-info fa-2x"></i></button>
                            <!--<button class="btn btn-xs" type="button" ng-click="editUser(item.id)"><i class="fa fa-edit text-info fa-2x"></i></button>-->
                        </td>
                        <td class="text-center">
                            <div ng-if="userRoleTypeId == 3 && !x" ng-init="getProvince()">
                                <label style=" margin-right: 10px; " class="my-label">
                                    省份：
                                    <select name="province" ng-init="provinceId = 'aaa'" ng-model="provinceId" ng-change="loadCity(item.id,provinceId)" style="padding: 5px;" ng-disabled="flag" >
                                        <option value="aaa">请选择</option>
                                        <option ng-repeat="area in areas" value="{{area.id}}">{{area.areaName}}</option>
                                    </select>
                                </label>

                                <label style="margin-right: 10px; " class="my-label">
                                    市/区:
                                    <select name="city" ng-init="cityId = 'bbb'" ng-model="cityId" style="padding: 5px;" ng-disabled="flag" ng-change="change(item.id,cityId)">
                                        <option value="bbb">请选择</option>
                                        <option ng-repeat="smallArea in smallAreas" value="{{smallArea.id}}">{{smallArea.areaName}}</option>
                                    </select>
                                    <span style="color: red;" ng-show="userRoleTypeId == 4">*</span>
                                </label>
                                <span style="color: red;">{{errorMessage}}</span>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <div class="text-center">
                    <div style="float: left; padding: 20px 0 0 36px;">共{{totalItems}}条数据</div>
                    <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                                previous-text="上一页" next-text="下一页" ng-change="getData()"></pagination>
                    <div style="clear: both;"></div>
                </div>
            </form>
        </div>

        <!--修改成功提示框-->
        <div>
            <script type="text/ng-template" id="editEnd.html" >
                <div class="modal-header">
                    <h4 class="modal-title">
                        提示
                        <span class="pull-right my-cancel">
                                <i class="fa fa-times bigger-120 fa-lg" ng-click="cancel()"></i>
                            </span>
                    </h4>

                </div>
                <div class="modal-body">
                    <div class="my-modal-content">
                        <!--<i class="fa fa-info-circle fa-3x text-warning warning-icon"></i>-->
                        <i class="fa fa-smile-o fa-3x text-success" ng-if="flag === 1"></i>
                        <i class="fa fa-frown-o fa-3x text-warning" ng-if="flag === 2"></i>
                        &nbsp;&nbsp;{{message}}
                    </div>

                </div>
                <div class="modal-footer info-modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">确定</button>
                </div>
            </script>
        </div>
        <!--区域管理员修改管理区域-->
        <div>
            <script type="text/ng-template" id="editArea.html">
                <div class="modal-header">
                    <h4 class="modal-title">
                        提示
                        <span class="pull-right my-cancel">
                            <i class="fa fa-times bigger-120 fa-lg" ng-click="cancel()"></i>
                        </span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="my-modal-content text-center">
                        <div class="col-xs-6" style="padding-right: 0;">
                            <label style=" margin-right: 10px; " class="my-label">
                                省份：
                                <select name="province" ng-init="provinceId = 'aaa'" ng-model="provinceId"  style="padding: 5px;" ng-change="loadCity(provinceId)" >
                                    <option value="aaa">请选择</option>
                                    <option ng-repeat="area in areas" value="{{area.id}}">{{area.areaName}}</option>
                                </select>
                            </label> 
                        </div>
                        <div class="col-xs-6" style="padding-left: 0;">
                            <label style="margin-right: 10px; " class="my-label">
                                市/区:
                                <select name="city" ng-init="cityId = 'bbb'" ng-model="cityId" style="padding: 5px;">
                                    <option value="bbb">请选择</option>
                                    <option ng-repeat="smallArea in smallAreas" value="{{smallArea.id}}">{{smallArea.areaName}}</option>
                                </select>
                                <span style="color: red;" ng-show="userRoleTypeId == 4">*</span>
                            </label>
                        </div>
                       <div style="clear: both;"></div>

                        
                        <span style="color: red;">{{errorMessage}}</span>
                    </div>
                </div>
                <div class="modal-footer info-modal-footer" style="text-align: center;">
                    <button type="reset" class="btn btn-default"  ng-click="cancel()">
                        <i class="fa fa-close ace-icon bigger-110"></i>取消
                    </button>
                    <button class="btn btn-primary" ng-click="ok()">
                        <i class="fa fa-check ace-icon bigger-110"></i>修改
                    </button>
                </div>
            </script>
        </div>
    </div>
</div>