<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="app.settings.asideFolded = false; app.settings.asideDock = false;"></div>

<!--main-->
<div class="col"  ng-controller="CheckCtrl" >
    <!--mian header-->
    <div >
        <div class="bg-light lter b-b my-nav wrapper-sm">
            <div class="row">
                <div class="col-xs-4">
                    <h1 class="m-n font-thin h5 text-black pull-left my-rooms ">
                        您当前所在的位置：<a ui-sref="app.rooms" class="my-address">房间信息列表</a>
                    </h1>
                </div>
                <div class="col-xs-8">
                    <div class="input-group  pull-right">




                        <div>
                            <script type="text/ng-template" id="myModalContent.html" >
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                        提示
                                        <span class="pull-right my-cancel">
                                            <i class="fa fa-times bigger-120 fa-lg" ng-click="cancel()"></i>
                                        </span>
                                    </h4>

                                </div>
                                <div class="modal-body">
                                    <div class="my-modal-content">
                                        <!--<i class="fa fa-info-circle fa-3x text-warning warning-icon"></i>-->
                                        <i class="fa fa-warning fa-3x text-warning warning-icon" ng-if="flag === 1"></i>
                                        <i class="fa fa-question-circle fa-3x text-warning warning-icon" ng-if="flag === 2"></i>
                                        &nbsp;&nbsp;{{message}}
                                    </div>

                                </div>
                                <div class="modal-footer info-modal-footer">
                                    <button class="btn btn-primary" ng-click="ok()">确定</button>
                                    <button class="btn btn-default" ng-if="flag === 2" ng-click="cancel()">取消</button>
                                </div>
                            </script>
                        </div>


                    </div>

                </div>
            </div>
        </div>

        <div class="wrapper-md">
            <div class="panel panel-default" style="position: relative; padding-top: 20px;">
                <!--<div class="panel-heading">-->
                    <!--房间信息列表-->

                <!--</div>-->

                <!--<div class="table-responsive">-->
                <!---->
                <!--</div>-->
                <div class="table-responsive " style="overflow-x: hidden;"  >
                    <section class="">
                        <!--<button class="btn box-shadow my-button" ng-click="editSelected();">-->
                            <!--<i class="fa fa-pencil bigger-120"></i>-->
                            <!--<a href >修改</a>-->
                        <!--</button>-->
                        <!--<button class="btn box-shadow my-button" ng-click="deleteSelected();">-->
                            <!--<i class="fa fa-times bigger-120"></i>-->
                            <!--<a href >删除</a>-->
                        <!--</button>-->
                        <!--<button class="btn box-shadow my-button" ng-click="add()">-->
                            <!--<i class="fa fa-floppy-o bigger-120"></i>-->
                            <!--<a href >增加</a>-->
                        <!--</button>-->
                        <!--<button class="btn box-shadow my-button">-->
                            <!--<i class="fa fa-eye bigger-120"></i>-->
                            <!--<a href>查看</a>-->
                        <!--</button>-->
                        <div class="col-xs-8">
                            <div >
                                <label class="col-xs-2 control-label no-padding-right my-label no-padding-left text-right" >查询：</label>
                                <div class="col-xs-2 no-padding-left">
                                    <input type="text" class="form-control" placeholder="请输入..." ng-model="$ctrl.query">
                                </div>
                                <label class="col-xs-2 control-label no-padding-right my-label no-padding-left text-right" >排序：</label>
                                <div class="col-xs-2 no-padding-left">
                                    <select ng-model="orderProp" class="form-control">
                                        <option value="price">价格</option>
                                        <option value="createDate">创建时间</option>
                                    </select>
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </section>
                    <form class="form-inline" style="padding-top: 15px;">

                        <table class="table row-border hover table-striped dataTables_wrapper form-inline">
                            <thead>

                            <tr style="font-size: 16px;">
                                <!--<th class="text-center">-->
                                        <!--<span >-->
                                            <!--<input type="checkbox"  ng-model="master" ng-click="all(master,rooms)">-->
                                        <!--</span>-->
                                <!--</th>-->
                                <th class="text-center">房间编号</th>
                                <th class="text-center">房间名</th>
                                <th class="text-center">价格</th>
                                <th class="text-center">详细地址</th>
                                <th class="text-center">房主</th>
                                <th class="text-center">创建时间</th>
                                <th class="text-center">审核状态</th>
                                <th class="text-center">审核</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="room in rooms | filter: $ctrl.query | orderBy: orderProp" on-finish-render>
                                <!--<td class="text-center">-->
                                    <!--<span>-->
                                        <!--<input type="checkbox" class="my-checkbox" name="selected" ng-model="x" ng-checked="master" ng-click="select(room.id,x)">-->
                                    <!--</span>-->
                                <!--</td>-->
                                <!--<td class="text-center"></td>-->
                                <td class="text-center">{{room.id}}</td>
                                <td class="text-center">{{room.roomName}}</td>
                                <td class="text-center">￥{{room.price}}/晚</td>
                                <td class="text-center">{{room.address}}</td>
                                <td class="text-center">{{room.creator}}</td>
                                <td class="text-center">{{room.createDate}}</td>
                                <td class="text-center">{{room.typeName}}</td>
                                <td class="text-center">
                                    <label class="i-switch bg-info">
                                        <input type="checkbox" ng-model="room.type" ng-change="changeState(room.id, room.type)">
                                        <i></i>
                                    </label>
                                </td>
                                <td class="text-center">
                                    <a ui-sref="app.room({roomId: room.id})" class="room-de">
                                        <button class="btn btn-xs" type="button"><i class="fa fa-eye text-success fa-2x"></i></button>
                                    </a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <div class="text-center">
                            <div style="float: left; padding: 20px 0 0 36px;">共{{totalItems}}条数据</div>
                            <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                                        previous-text="上一页" next-text="下一页" ng-change="getData()"></pagination>
                            <div style="clear: both;"></div>
                        </div>

                    </form>


                    <!--添加用户弹窗-->
                    <div>
                        <script type="text/ng-template" id="addUser.html">
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    添加用户
                                    <span class="pull-right my-cancel">
                                <i class="fa fa-times bigger-120 fa-lg" ng-click="cancel()"></i>
                            </span>
                                </h4>
                            </div>
                            <form class="form-horizontal" name="form" class="form-validation">
                                <div class="modal-body user-modal" style="height: 300px">
                                    <div class="user-modal-content" >
                                        <div class="row" style="padding-top: 10px;">
                                            <div class="form-group" >
                                                <label class="col-sm-4 control-label no-padding-right">账户</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" placeholder="请输入账户" value="{{user.username}}" ng-model="user.username" >
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right">姓名</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" placeholder="请输入姓名" value="{{user.name}}" ng-model="user.name" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right">性别</label>
                                                <div class="col-sm-5">
                                                    <select id="_sex" class="form-control" ng-model="user.sex">
                                                        <option value="女">女</option>
                                                        <option value="男">男</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right">地址</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" placeholder="请输入地址" value="{{user.address}}" ng-model="user.address" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right">电话</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" placeholder="请输入电话" value="{{user.telephone}}" ng-model="user.telephone" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer" style="text-align: center;">
                                    <button type="submit" class="btn btn-primary" ng-click="ok()" ng-disabled="form.$invalid">
                                        <i class="fa fa-check ace-icon bigger-110"></i>
                                        保存
                                    </button>
                                    <button type="reset" class="btn btn-default"  ng-click="cancel()">
                                        <i class="fa fa-close ace-icon bigger-110"></i>
                                        关闭
                                    </button>
                                </div>
                            </form>
                        </script>
                    </div>
                    <!--修改房间弹窗-->
                    <div>
                        <script type="text/ng-template" id="editRoom.html">
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    修改房间状态
                                    <span class="pull-right my-cancel">
                                <i class="fa fa-times bigger-120 fa-lg" ng-click="cancel()"></i>
                            </span>
                                </h4>
                            </div>
                            <form class="form-horizontal" name="form" class="form-validation">
                                <div class="modal-body admin-modal text-center">
                                    <div class="my-modal-content" >
                                        <label style=" margin-right: 10px; " class="my-label">状态:
                                            <select style="padding: 5px;" ng-model="state">
                                                <option value="1">通过</option>
                                                <option value="0">未通过</option>
                                            </select>
                                        </label>
                                    </div>

                                </div>
                                <div class="modal-footer" style="text-align: center;">

                                    <button type="reset" class="btn btn-default"  ng-click="cancel()">
                                        <i class="fa fa-close ace-icon bigger-110"></i>
                                        关闭
                                    </button>
                                    <button class="btn btn-primary" ng-click="ok()" ng-disabled="form.$invalid">
                                        <i class="fa fa-check ace-icon bigger-110"></i>
                                        修改
                                    </button>
                                </div>
                            </form>
                        </script>
                    </div>
                    <!--删除提示框-->
                    <div>
                        <script type="text/ng-template" id="remove.html" >
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    提示
                                    <span class="pull-right my-cancel">
                                            <i class="fa fa-times bigger-120 fa-lg" ng-click="cancel()"></i>
                                        </span>
                                </h4>

                            </div>
                            <div class="modal-body">
                                <div class="my-modal-content">
                                    <!--<i class="fa fa-info-circle fa-3x text-warning warning-icon"></i>-->
                                    <!--<i class="fa fa-warning fa-3x text-warning warning-icon" ng-if="flag === 1"></i>-->
                                    <i class="fa fa-question-circle fa-3x text-warning warning-icon"></i>
                                    &nbsp;&nbsp;是否确定删除？
                                </div>

                            </div>
                            <div class="modal-footer info-modal-footer">
                                <button class="btn btn-primary" ng-click="ok()">确定</button>
                                <button class="btn btn-default" ng-click="cancel()">取消</button>
                            </div>
                        </script>
                    </div>
                    <!--修改成功弹窗-->
                    <div>
                        <script type="text/ng-template" id="editEnd.html" >
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    提示
                                    <span class="pull-right my-cancel">
                                <i class="fa fa-times bigger-120 fa-lg" ng-click="cancel()"></i>
                            </span>
                                </h4>

                            </div>
                            <div class="modal-body">
                                <div class="my-modal-content">
                                    <!--<i class="fa fa-info-circle fa-3x text-warning warning-icon"></i>-->
                                    <i class="fa fa-smile-o fa-3x text-success" ng-if="flag === 1"></i>
                                    <i class="fa fa-frown-o fa-3x text-warning" ng-if="flag === 2"></i>
                                    &nbsp;&nbsp;{{message}}
                                </div>

                            </div>
                            <div class="modal-footer info-modal-footer">
                                <button class="btn btn-primary" ng-click="ok()">确定</button>
                            </div>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>