<div class="bg-light lter b-b wrapper-sm">
    <h1 class="m-n font-thin h5 my-rooms ">
        您当前所在的位置：
        <a ui-sref="app.photos.areaPhotos" class="my-address">地区图片</a>
        &nbsp;<i class="fa fa-lg fa-angle-right"></i>&nbsp;
        <a ui-sref="app.photos.uploadPhotos" class="my-address">上传图片</a>
    </h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default text-center" ng-controller="UploadPhotosCtrl" style="padding-top: 10px;">
        <form name="form">
            <div class="col-md-6">
                <label style="margin-right: 10px; ">
                    省份：
                    <select name="province"  ng-model="provinceId" ng-change="loadCity(provinceId)" style="padding: 5px;"  >
                        <option value="aaa">请选择</option>
                        <option ng-repeat="area in areas" value="{{area.id}}">{{area.areaName}}</option>
                    </select>
                </label>

                <label style="margin-right: 10px; ">
                    市/区:
                    <select name="city"  ng-model="cityId"  style="padding: 5px;">
                        <option value="bbb">请选择</option>
                        <option ng-repeat="smallArea in smallAreas" value="{{smallArea.id}}">{{smallArea.areaName}}</option>
                    </select>
                </label>
                <span style="color: red;">{{errorMessage}}</span>
            </div>
            <div class="col-md-6">
                <div class="btn btn-default" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                     ngf-accept="'image/*'" ngf-max-size="20MB">选择图片</div>

                <button class="btn btn-default" type="submit" ng-click="submit()">上传</button>
                <button class="btn btn-default" type="reset" ng-click="reset()">取消</button>
            </div>



        </form>
        <div style=" margin-top: 50px;" class="text-center">
            <img ngf-src="file || defaultImage" class="img-responsive img-upload" alt="图片预览区域"/>

        </div>

        <!--<div class="col col-xs-4 text-left" style="margin-top: 15px;" ng-repeat="image in mulImages">-->
            <!--<div ng-repeat="oneImage in image">-->
                <!--<img ngf-src="oneImage || data.defaultImage" class="img-responsive"-->
                     <!--style="width:200px; height: 200px; max-width:500px;"/>-->
            <!--</div>-->
        <!--</div>-->
        <!--上传成功弹窗-->
        <div>
            <script type="text/ng-template" id="uploadEnd.html" >
                <div class="modal-header">
                    <h4 class="modal-title">
                        提示
                        <span class="pull-right my-cancel">
                                <i class="fa fa-times bigger-120 fa-lg" ng-click="cancel()"></i>
                            </span>
                    </h4>

                </div>
                <div class="modal-body">
                    <div class="my-modal-content">
                        <!--<i class="fa fa-info-circle fa-3x text-warning warning-icon"></i>-->
                        <i class="fa fa-smile-o fa-3x text-success" ng-if="flag === 1"></i>
                        <i class="fa fa-frown-o fa-3x text-warning" ng-if="flag === 2"></i>
                        &nbsp;&nbsp;{{message}}
                    </div>

                </div>
                <div class="modal-footer info-modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">确定</button>
                </div>
            </script>
        </div>
    </div>
</div>