<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.hotel.mapper.AreaMapper">

	<resultMap id="areaPhoto" type="com.hotel.pojo.AreaPhoto">
		<id property="id" column="Id"/>
		<association property="area" column="AreaId" javaType="com.hotel.pojo.Area" select="getArea">
			<id property="id" column="Id"/>
		</association>
	</resultMap>
	<resultMap id="areaPhoto1" type="com.hotel.pojo.AreaPhoto">
		<id property="id" column="Id"/>
		<association property="area" column="AreaId" javaType="com.hotel.pojo.Area" select="getArea">
			<id property="id" column="Id"/>
		</association>
	</resultMap>
	
	<select id="getAreaId" resultType="String">
		SELECT
	t_area.Id
FROM
	t_area
	WHERE
		t_area.id = (
			SELECT
				t_authorization.AreaId
			FROM
				t_authorization
			WHERE
				t_authorization.UserRoleId = (
					SELECT
						t_userrole.id
					FROM
						t_userrole
					WHERE
						t_userrole.UserId = #{userId}
						)
		)

	</select>

	<select id="getProvinces" resultType="com.hotel.pojo.Area">
		SELECT
			DISTINCT *
		FROM
			t_area
			WHERE
				t_area.id = (
					SELECT
						t_authorization.AreaId
					FROM
						t_authorization
					WHERE
						t_authorization.UserRoleId = (
							SELECT
								t_userrole.id
							FROM
								t_userrole
							WHERE
								t_userrole.UserId = #{userId}
								)
				)
	</select>
	<select id="getAllProvinces" resultType="com.hotel.pojo.Area">
		select DISTINCT * FROM t_area WHERE ParentId=0
	</select>
	<select id="getAreaById" resultType="com.hotel.pojo.Area">
		select DISTINCT * FROM t_area WHERE Id=#{areaId}
	</select>
	<select id="getArea" resultType="com.hotel.pojo.Area">
		select DISTINCT * FROM t_area WHERE Id=#{id}
	</select>

	<select id="getAreaByParentId" resultType="com.hotel.pojo.Area">
		select DISTINCT * FROM t_area WHERE ParentId=#{id}
	</select>
	<select id="getParentArea" resultType="com.hotel.pojo.Area">
		select DISTINCT * FROM t_area WHERE Id=#{parentId}
	</select>

	<select id="getAllAreaPhotoCount" resultType="int">
		select COUNT(*) from t_areaphoto
	</select>

	<select id="getAllAreaPhoto" resultMap="areaPhoto">
		select * from t_areaphoto ORDER BY AreaId ASC LIMIT #{start},#{limit}
	</select>
	<select id="getPartPhotoCount" resultType="int">
		select COUNT(*) from t_areaphoto WHERE AreaId=#{areaId}
	</select>

	<select id="getPartAreaPhoto" resultMap="areaPhoto">
		select * from t_areaphoto WHERE AreaId=#{areaId} ORDER BY AreaId ASC LIMIT #{start},#{limit}
	</select>

	<select id="getPartPhotoCountByPro" resultType="int">
		select COUNT(*) from t_areaphoto WHERE AreaId=#{areaId} or AreaId in (SELECT t_area.Id FROM t_area WHERE ParentId = #{areaId});
	</select>

	<select id="getPartAreaPhotoByPro" resultMap="areaPhoto1">
		select * from t_areaphoto WHERE AreaId=#{areaId} or  AreaId in (SELECT t_area.Id FROM t_area WHERE ParentId = #{areaId}) ORDER BY AreaId ASC LIMIT #{start},#{limit}
	</select>

	<select id="getPhotoByList" parameterType="java.lang.String" resultMap="areaPhoto">
		select * from t_areaphoto WHERE Id IN
		<foreach collection="list" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</select>

	<delete id="deletePhotoByList" parameterType="java.lang.String">
		  DELETE FROM t_areaphoto WHERE Id in
		<foreach collection="list" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<insert id="insertAreaPhoto" parameterType="com.hotel.pojo.AreaPhoto">
		INSERT into t_areaphoto(Id,Url,Creator,CreateDate,OperateDate,AreaId) VALUES(#{id},#{url},#{creator},#{createDate},#{operateDate},#{areaId})
	</insert>



	
</mapper>