<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.hotel.mapper.ArticleMapper">

	<resultMap id="areaArticle" type="com.hotel.pojo.AreaArticle">
		<id property="id" column="Id"/>
		<association property="area" column="AreaId" javaType="com.hotel.pojo.Area" select="getArea">
			<id property="id" column="Id"/>
		</association>
	</resultMap>


	<select id="getArea" resultType="com.hotel.pojo.Area">
		select DISTINCT * FROM t_area WHERE Id=#{id}
	</select>
	<insert id="insertArticle" parameterType="com.hotel.pojo.AreaArticle">
		INSERT into t_areaarticle(Id,Title,Content,Creator,CreateDate,OperateDate,AreaId) VALUES(#{id},#{title},#{content},#{creator},#{createDate},#{operateDate},#{areaId})
	</insert>

	<select id="getAllAreaArticleCount" resultType="int">
		select count(*) FROM t_areaarticle
	</select>

	<select id="getAllAreaArticleList" resultMap="areaArticle">
		select * from t_areaarticle ORDER BY AreaId ASC LIMIT #{start},#{limit}
	</select>

	<select id="getPartArticleCount" resultType="int">
		select COUNT(*) from t_areaarticle WHERE AreaId=#{areaId} OR AreaId in (SELECT t_area.Id FROM t_area WHERE ParentId = #{areaId});
	</select>

	<select id="getPartAreaArtilceList" resultMap="areaArticle">
		select * from t_areaarticle WHERE AreaId=#{areaId} OR AreaId in (SELECT t_area.Id FROM t_area WHERE ParentId = #{areaId}) ORDER BY AreaId ASC LIMIT #{start},#{limit}
	</select>

	<select id="getArticleById" resultMap="areaArticle">
		select * from t_areaarticle WHERE Id=#{articleId}
	</select>
	<update id="editArticle" parameterType="com.hotel.pojo.AreaArticle">
		UPDATE t_areaarticle SET Title=#{title} ,Content=#{content} ,Editor=#{editor},EditDate=#{editDate},OperateDate=#{operateDate} WHERE Id=#{id}
	</update>

	<delete id="deleteArticle" parameterType="java.lang.String">
		DELETE FROM t_areaarticle WHERE id IN
		<foreach collection="array" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	
</mapper>