<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.hotel.mapper.UsersMapper">

	<select id="getUserById" resultType="com.hotel.pojo.User">
		SELECT * FROM t_user WHERE Id=#{id}
	</select>

	<insert id="insert">
		INSERT INTO t_user (Id,RealName,UserName,PassWord,Sex,TelPhone,Email,Creator,CreateDate,OperateDate,UserStateId) VALUES(#{id},#{realName},#{userName},#{password},#{sex},#{telPhone},#{email},#{creator},#{createDate},#{operateDate},#{userStateId})
	</insert>

<!--	<select id="getUser" resultType="com.hotel.pojo.User">
		SELECT * FROM t_user
	</select>-->

	<insert id="insertUserRole">
		INSERT INTO t_userrole(Id,Creator,CreateDate,OperateDate,UserId,UserRoleTypeId) VALUES (#{id},#{creator},#{createDate},#{operateDate},#{id},#{userRoleTypeId})
	</insert>
	<insert id="insertAuthriazation">
		INSERT INTO t_authorization(Creator,CreateDate,OperateDate,UserRoleId,AreaId) VALUES (#{creator},#{createDate},#{operateDate},#{userRoleId},#{areaId})
	</insert>
</mapper>