<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.nona.hotel.angularhotel.mapper.AdminMapper">

	
	<select id="validateManager" parameterType="com.nona.hotel.angularhotel.pojo.Manager" resultType="int">
		select count(1) from t_manager where userName= #{userName} and password = #{password}	
	</select>
	
	<select id="getManagerInfo" parameterType="com.nona.hotel.angularhotel.pojo.Manager" resultType="com.nona.hotel.angularhotel.pojo.Manager">
		select * from t_manager where userName= #{userName} and password = #{password}	
	</select>

	<select id="getAdminCount" resultType="int">
		SELECT
	count(*)
FROM
	t_user
WHERE
	t_user.Id IN (
		SELECT
			t_userrole.UserId
		FROM
			t_userrole
		WHERE
			t_userrole.UserRoleTypeId = 3
		OR t_userrole.UserRoleTypeId = 4
	)
	</select>

	<select id="getAdminList" resultType="com.nona.hotel.angularhotel.pojo.User">
		SELECT
			t_user.*, t_userrole.UserRoleTypeId
		FROM
			t_user,
			t_userrole
		WHERE
			t_user.Id = t_userrole.UserId
		AND t_user.Id IN (
			SELECT
				t_userrole.UserId
			FROM
				t_userrole
			WHERE
				t_userrole.UserRoleTypeId = 3
			OR t_userrole.UserRoleTypeId = 4
		)
		ORDER BY
			t_user.Id ASC
		LIMIT #{start},#{limit}
	</select>

	<insert id="insertAdmin" >
		INSERT into t_user (Id,UserName,Password,RealName,Sex,TelPhone,Email,Creator,CreateDate,OperateDate,UserStateId) VALUES(#{id},#{userName},#{password},#{realName},#{sex},#{telPhone},#{email},#{creator},#{createDate},#{operateDate},1)
	</insert>


	<delete id="deleteAdmins" parameterType="java.lang.String">
		DELETE FROM t_user WHERE Id in
		<foreach collection="array" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="getSuperAdminCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			t_user
		WHERE
			t_user.Id IN (
				SELECT
					t_userrole.UserId
				FROM
					t_userrole
				WHERE
					t_userrole.UserRoleTypeId = 3
			)
	</select>
	<select id="getSuperAdminList" resultType="com.nona.hotel.angularhotel.pojo.User">
		SELECT
	t_user.*, t_userrole.UserRoleTypeId
FROM
	t_user,
	t_userrole
WHERE
	t_user.Id = t_userrole.UserId
AND t_user.Id IN (
	SELECT
		t_userrole.UserId
	FROM
		t_userrole
	WHERE
		t_userrole.UserRoleTypeId = 3
)
ORDER BY
	t_user.Id ASC
LIMIT #{start},#{limit}
	</select>

	<select id="getAreaAdminsCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			t_user
		WHERE
			t_user.Id IN (
				SELECT
					t_userrole.UserId
				FROM
					t_userrole
				WHERE
					t_userrole.UserRoleTypeId = 4
			)
	</select>

	<select id="getAreaAdminsList" resultType="com.nona.hotel.angularhotel.pojo.User">
		SELECT
			t_user.*, t_userrole.UserRoleTypeId
		FROM
			t_user,
			t_userrole
		WHERE
			t_user.Id = t_userrole.UserId
		AND t_user.Id IN (
			SELECT
				t_userrole.UserId
			FROM
				t_userrole
			WHERE
				t_userrole.UserRoleTypeId = 4
		)
		ORDER BY
			t_user.Id ASC
			LIMIT #{start},#{limit}
	</select>
</mapper>
