<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nona.hotel.angularhotel.mapper.UserRoleMapper">
    <insert id="insertUserRole" parameterType="com.nona.hotel.angularhotel.pojo.UserRole">
        INSERT INTO t_userrole (Id,Creator,CreateDate,OperateDate,UserRoleTypeId,UserId) VALUES(#{id},#{creator},#{createDate},#{operateDate},#{userRoleTypeId},#{userId})
    </insert>

    <delete id="deleteUserRoles" parameterType="java.lang.String">
        DELETE
        FROM
            t_userrole
        WHERE
            t_userrole.UserId IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateSuperToArea" parameterType="com.nona.hotel.angularhotel.pojo.User">
        UPDATE t_userrole SET t_userrole.UserRoleTypeId = 4,hotel.t_userrole.Editor=#{editor},hotel.t_userrole.EditDate=#{editDate},hotel.t_userrole.OperateDate=#{operateDate} WHERE t_userrole.UserId = #{id}
    </update>

    <update id="UpdateAreaToSuper" parameterType="com.nona.hotel.angularhotel.pojo.User">
        UPDATE t_userrole SET t_userrole.UserRoleTypeId = 3,hotel.t_userrole.Editor=#{editor},hotel.t_userrole.EditDate=#{editDate},hotel.t_userrole.OperateDate=#{operateDate} WHERE t_userrole.UserId = #{id}
    </update>

    <select id="getUserRole" resultType="com.nona.hotel.angularhotel.pojo.UserRole">
        SELECT * FROM t_userrole WHERE t_userrole.UserId=#{id}
    </select>

</mapper>